@model string

<h2>Creating new Family</h2>

<form asp-action="CreateFamily" asp-controller="Family" method="post">
    <div class="form-group">
        <label for="familyName">Name of the Family</label>
        <input type="text" class="form-control" id="familyName" name="familyName" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
