@model Family_Finance.Models.FamilyGroup

<h2 class="text-light">Creating new Family</h2>

<form class="text-light" asp-action="CreateFamily" method="post">
    <div class="form-group">
        <label for="familyName">Name of the Family</label>
        <input type="text" class="form-control" id="familyName" name="familyName" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
