@model IEnumerable<Family_Finance.Models.FamilyInvitation>

<div class="container-fluid text-light py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4 mb-4" style="font-weight: 600;">Invitations to Family</h1>
        </div>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row g-4 justify-content-center">

        @foreach (var invitation in Model)
        {
            <div class="col-md-4">
                <div class="card glass-card">
                    <div class="card-body">
                        <h5 class="card-title">Invitation to the family: @(invitation.FamilyGroup != null ? invitation.FamilyGroup.Name : "No Family")</h5>
                        <p class="card-text">Would you like to join?</p>
                        <a href="@Url.Action("AcceptInvitation", "Family", new { id = invitation.ID })" class="btn btn-success">Accept</a>
                        <a href="@Url.Action("RejectInvitation", "Family", new { id = invitation.ID })" class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>